<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Option</th>
            <th>Votes</th>
            <th>Percent</th>
        </tr>
    </thead>
    <tbody>
    {{#results}}
        <tr>
            <td>{{name}}</td>
            <td>{{value}}</td>
            <td>{{percent}}%</td>
        </tr>
    {{/results}}

        <tr>
            <td><b>Total</b></td>
            <td><b>{{total}}</b></td>
            <td></td>
        </tr>
    </tbody>
</table>