<div>
<h4><span class="badge badge-danger"></span> This uApp was saved at --- by another user or another tab</h4>
<h5>The following sections contain conflicts:</h5>

{{#sources}}
<div>
<h6>Sources - Conflict</h6>

</div>
{{/sources}}
{{#script}}
<div>
<h6>Script - Conflict</h6>

</div>
{{/script}}


{{#template}}
<div>
<h6>Template - Conflict</h6>
</div>
{{/template}}


{{#css}}
<div>
<h6>CSS - Conflict</h6>

</div>
{{/css}}
{{#options}}
<div>
<h6>Options - Conflict</h6>

</div>
{{/options}}
</div>


