<div class="page">
<section class="panel panel-default">
	<div class="panel-heading"><span class="fa fa-list-ol"></span> Poll Results</div>
	<div class="panel-body">
	<div class="list-group cs-style-6" id="group-list">
		{{#submissions}}
			{{>admin_poll_submission_view}}
		{{/submissions}}
   </div>
	{{^submissions}}
		<div class="panel-body">
			<h4>No submissions</h4>
		</div>
	{{/submissions}}
	</div>
</section>
</div>