<div class="list-group" style="max-height:300px;overflow-y:auto;">
	{{#items}}
	<a href="javascript:void(0);" class="list-group-item filterable" data-pidm="{{PIDM}}">
		<div class="row">
		<span class="col-md-3">{{FIRST_NAME}}</span> <span class="col-md-3">{{LAST_NAME}}</span> <span class="col-md-6">{{EMAIL}}</span>
		</div>
	</a>
	{{/items}}
</div>