<div class="panel panel-default {{#collapsed}}wf-collapsed{{/collapsed}}">
	{{>widgets__header}}
	<div class="panel-body collapsible">
		<div class="ui-bullet">
		  <div class="btn-icon btn-icon-round btn-icon-lg bg-{{color}}">
		    <i class="{{icon}}"></i>
		  </div>
		  <div class="ui-bullet-content">
			  <h3>{{title}}</h3>
			  <p>{{{text}}}</p>
		  </div>
		</div>
	</div>
</div>