<div class="panel-page">
	<section class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<span class="{{icon}}"></span>&nbsp;<a href="/admin/{{section}}s">{{section}}s</a>{{#group}} - <a href="/admin/groups/{{id}}">{{name}}</a>{{/group}}<span class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add {{section}}</span>{{#sort}}<span class="sort btn btn-default pull-right"><i class="fa fa-sort"></i> sort</span>{{/sort}}
			</h4>
		</div>
		<div id="mypanel" class="panel-body"></div>
	</section>
</div>