
<div class="page">
<section class="panel panel-default">
	<div class="panel-heading"><span class="fa fa-css3"></span> Global Style <i id="save" class="fa fa-save pull-right btn btn-success btn-xs"> Save</i></div>
	<div class="panel-body" style="padding:0">
		<div id="itemcontainer" style="height:500px"></div>
	</div>
</section>
</div>