<div class="page">
<section class="panel panel-default">
<div class="panel-heading"><div class="panel-title">Owned Groups</div></div>
	<div class="panel-body">
	<div class="list-group cs-style-6" id="group-list">
   </div>
	{{^models}}
		<div class="panel-body">
			<h4>No Groups</h4>
		</div>
	{{/models}}
	</div>
</section>
</div>