<div class="page">
<div class="row page-menu"><div class="col-md-12"><ul class="nav nav-boxed nav-justified"><li><a href="#/mygroups">My Groups</a></li><li><a href="#/availablegroups">Available Groups</a></li></ul></div>
</div>
<div class="row" style="margin-top:15px">
<div class="col-md-12">
<section class="panel panel-default">
<div class="panel-heading"><div class="panel-title">Available Groups</div></div>
	<div class="panel-body">
	<div class="list-group cs-style-6" id="group-list">
   </div>
	{{^models}}
		<div class="panel-body">
			<h4>No Groups</h4>
		</div>
	{{/models}}
	</div>
</section>
</div>
</div>
</div>