<section data-ng-view="" class="view-container animate-fade-up">
<div class="page page-profile ng-scope">

    <header class="profile-header">
        <div class="profile-img">
            <img alt="" src="assets/img/321.JPG" class="img-circle">
        </div>

        <div class="profile-social">
            <a href="javascript:;" class="btn-icon btn-icon-round btn-facebook"><i class="ti-facebook"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-round btn-twitter"><i class="ti-twitter"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-round btn-instagram"><i class="ti-instagram"></i></a>
        </div>

        <div class="profile-info">
            <ul class="list-unstyled list-inline">
                <li><a href="#/mygroups" style="color:white;text-decoration:none"><i class="ti-user"></i> My Groups</a></li>
                <li><a href="#/admingroups" style="color:white;text-decoration:none"><i class="ti-user"></i> Owned Groups</a></li>
                <li><a href="#/availablegroups" style="color:white;text-decoration:none"><i class="ti-user"></i> Available Groups</a></li>
<!--                 <li><i class="ti-camera"></i> Photos <span class="text-muted">(63)
                </span></li><li><i class="ti-bookmark"></i> Collections <span class="text-muted">(55)
                </span></li><li><i class="ti-check"></i> Tasks <span class="text-muted">(34) -->
            </span></li></ul>
        </div>
    </header>

    <div class="row" id="embeddedContent">
        <center><i class="fa fa-spinner fa-spin" style="font-size:60px;margin:40px auto"></i></center>
    </div>

</div></section>
								